@import '../../assets/scss/variables';

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0 25px;
  margin-top: 30px;

  .header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    padding-top: 20px;
    height: 50;
    width: 50px;
  }

  .header-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;

    .menu-item {
      font-family: $heading-font;
      position: relative;
      padding: 20px 0px;
      margin-left: 30px;
      color: #c6c9d8;
      font-size: $h6;
      font-weight: 500;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        width: 0;
        height: 3px;
        background: $theme-color;
        bottom: 0;
        transition: width 0.3s;
      }

      &:hover {
        text-decoration: none;
      }
      &.active-menu-item {
        color: $theme-color;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
