@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  margin-top: 30px;

  .header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    height: 50px;
    z-index: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
